* {
    box-sizing: border-box;
    }
    .d-flex {
    display: flex !important;
    }
    .flex-middle-between {
    place-content: center space-between;
    }
    .w-100 {
    width: 100%;
    }
    .search-form {
    display: flex;
    width: 300px;
    height: 32px;
    }
    .search-form .input-wrap {
    flex: 1 0 auto;
    }
    .search-form .input-wrap input {
    width: 100%;
    height: 100%;
    }
    .search-form .submit-btn {
    flex-basis: auto;
    }
    #mainHeader {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 16px;
    background: #838181;
    color: #fff;
    }
    #mainNav {
    display: flex;
    align-items: center;
    }
    #mainNav .nav-item:not(:last-child) {
    margin-right: 12px;
    }
    .related-articles {
    display: flex;
    }
    .related-articles article:not(:last-child) {
    margin-right: 16px;
    }
    #mainFoter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 16px;
    background: #f1f1f1;
    }
    #footerNav .nav-item:not(:last-child) {
    margin-right: 12px;
    }
    .links-label {
    margin-bottom: 4px;
    }
    a {
    color: inherit;
    text-decoration: none;
    }
    